<div class="container">
  <% if @events.count == 0 %>
  <h1>No events for <%= @source.identifier %></h1>
  <% else %>
    <h1>Currently viewing events for <a href="/sources/<%= @source.identifier %>">
  <%= @source.identifier %></a></h1>
  <% end %>
    <table class="table table-bordered table-hover">
      <tr>
        <th>View Count</th>
        <th>Link to Event</th>
      </tr>
    <% @events.each do |event, count| %>
      <tr>
        <td><%= count %></td>
        <td><a href="/sources/<%= @source.identifier %>/events/<%= event %>"><%= event %></a></td>
      </tr>
      <% end %>
    </table>
   <div class="pull-left" align="left" id="donut"></div> 
  </div>
</div>

<script>
Morris.Donut({
  element: 'donut',
  data: [
   <% @events.each_with_index do |(event, count), index| %>
    <% if index == @events.count - 1 %> 
      {label: "<%= event %>", value: <%= count.to_i %>}
    <% else %>
      {label: "<%= event %>", value: <%= count.to_i %>},
    <% end %>
    <% end %>
  ],
  backgroundColor: '#ccc',
  labelColor: '#679ED2',
  colors: [
    '#0C5AA6',
    '#26527C',
    '#04396C',
    '#408AD2',
    '#679ED2'
  ]
});
</script>
